* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
}

.deliteAll-button,
.deliteAll2-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #17e7cf;
  color: #5e5e5e;
  cursor: pointer;
}
.input-to-do {
  padding: 20px 50px;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  background-color: #ffffff;
  color: #d5d5d5;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.enterBnt {
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #17e7cf;
  color: #5e5e5e;
  cursor: pointer;
  margin-right: 10px;
}
.closeBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #17e7cf;
  color: #5e5e5e;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.todoText {
  padding: 20px 70px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #ffffff;
  color: #d5d5d5;
}
.innerBig,
.innerBig2 {
  padding: 35px 10px;
  border-radius: 16px;
  gap: 10px;
  border: 3px solid black;
  position: relative;
}

.date-input {
  width: 90px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  text-align: center;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
